body{
    background-color: lightpink;
}
h1{
    color: deeppink;
    text-align: center;
    font-family:fantasy;
}
.video{
    width:400px;
    height:400px;
}
h2{
    color: hotpink;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    color: white;
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
    color:fuchsia;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
table{
    width:60%;
    height:100px;
    color:white;
    text-align: left;
    background-color:rgb(253, 168, 239);
    border: 4px;
}

    